
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/

/templates/google3a556bba71bd41e1.html

# Sphinx documentation
docs/_build/
doc/_build/

env/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env

# Virtualenv
.Python



# End of https://www.toptal.com/developers/gitignore/api/python
