<!doctype html>
<html lang="en">

<head>

    <title>Job Jolt Backend</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Job Jolt Backend">
    <meta name="keywords" content="backend, settings, job jolt">

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
    <!-- Main css -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MJSBNN9D');</script>
    <!-- End Google Tag Manager -->


</head>

<body class="bg-gradient">

    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJSBNN9D"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->





    <div class="overlay"></div>
    <div class="stars" aria-hidden="true"></div>
    <div class="starts2" aria-hidden="true"></div>
    <div class="stars3" aria-hidden="true"></div>
    <main class="main">
        <section class="contact">
            <h1 class="title"><a href="https://job-jolt-nextjs.vercel.app/">Job Jolt</a> Back End</h1>
            <h2 class="sub-title">Lives here </h2>
            <div class="row flex">
                <a href="https://github.com/sujalthomas" target="_blank" class="subtwo-title">
                    <span class="ti-github text-white"></span>
                </a>
                <a href="https://www.linkedin.com/in/sujal-t-b72120161/" target="_blank" class="subtwo-title">
                    <span class="ti-linkedin text-white"></span>
                </a>
                <a href="https://www.sujalthomas.com/" target="_blank" class="subtwo-title">
                    <span class="ti-world text-white"></span>
                </a>
            </div>
        </section>
    </main>
    
    

    
    


    <!-- jQuery and Bootstrap -->
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>
